
<video autoplay loop playsinline id="video-background">
    <source src="/static/videos/back.webm" type="video/webm">
    <source src="/static/videos/back.mp4" type="video/mp4">
    <source src="/static/videos/back.ogv" type="video/ogg;" codecs="theora, vorbis">
    Your browser does not support the video tag. I suggest you upgrade your browser.
</video>
<section class="logotip">
    <img src="/static/images/Logo.png"/>
</section>
<section class="search">
    <input type="text" id="searchBox" name="search-box" class="search-box" autocomplete="off" placeholder="Introdueix la teva ciutat...">
    <input type="button" id="searchButton" name="search-button" class="btn btn-primary" value="Cercar">
</section>