<footer class="page-row">

    <!--Footer Links-->
    <div class="container-fluid">
        <div class="row">

            <div class="col-sm-4">
                <h5 class="title">Informació</h5>
                <ul>
                    <li><a href="#">Link 1</a></li>
                    <li><a href="#">Link 2</a></li>
                    <li><a href="#">Link 3</a></li>
                    <li><a href="#">Link 4</a></li>
                </ul>
            </div>

            <div class="col-sm-4">
                <h5 class="title">Quant a</h5>
                <ul>
                    <li><a href="#">Link 1</a></li>
                    <li><a href="#">Link 2</a></li>
                    <li><a href="#">Link 3</a></li>
                    <li><a href="#">Link 4</a></li>
                </ul>
            </div>

            <div class="col-sm-4 form-group">
                <h5 class="title">Subscripció</h5>
                <label for="mail">Tel teu email:</label>
                <input id="mail" class="form-control" type="email" placeholder="email@email.com"><br>
                <button class="btn btn-info">Enviar</button>
            </div>
        </div>
    </div>
    <!--/.Footer Links-->

    <!--Copyright-->
    <div class="footer-copyright">
        <div class="container-fluid">
            © 2017 Copyright: <a href="#">http://repairontime.tk</a>

        </div>
    </div>
    <!--/.Copyright-->

</footer>