<!DOCTYPE html>
<html ng-app="thinkster">
<head>
  <title>Repair on time</title>
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
  <link rel="icon" href="favicon.ico" type="image/x-icon">
  <meta name="description" content="Pàgina oficial de Repair on time." />
  <meta charset="utf-8">
  <base href="/" />

  {% include 'stylesheets.html' %}
</head>

<body>
<header class="page-row">
  {% include 'navbar.html' %}
</header>

<main class="page-row page-row-expanded">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 ng-view"></div>
    </div>
  </div>
</main>

  {% include 'footer.html' %}

  {% include 'javascripts.html' %}
</body>
</html>
